.idea/
build/
src/cmake-build-debug/
external/ed25519/*.o
deployment/
docs/doxygen/out/
*.user
tests/*.sh
src/common/default.h
test.txt
logs.txt
_test_load.py
_test_remote_network.py
.project
.cproject
.settings
.DS_Store
src/version
