.idea
/build*
/docs/doxygen/out/*
__pycache__
.pytest_cache
/deployment
*.user
/tests/*.sh
src/common/default.h
*.pyc
test.txt
logs.txt
_test_load.py
_test_remote_network.py
.project
.cproject
.settings
.DS_Store
